@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*::before, ::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.ismail-faq{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
}
.ismail-faq .contant{
    margin: 0px auto;
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.ismail-faq .contant .header{
    padding: 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.ismail-faq .contant .body{
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.ismail-faq .contant .body.active{
    border-top: 1px solid #e9e9e9;
    padding: 10px 0;
    height: auto;
}